/* 
	top样式
*/
*{
	margin: 0;
	padding: 0;
}

img{ border:0;}
.top{
	background:#2e3a4b;
	height: 35px;
}
.top{

}
.top-nav{
	width: 1180px;
	height: 35px;
	margin: 0 auto;
}

.top-nav p{
	font-family: 微软雅黑;
	font-size: 14px;
	line-height: 35px;
	padding-left: 54px;
	color: #b7b7b7;
	display: inline;
}
.top-nav img{
	padding-left: 21px;
	vertical-align:middle;
}
.top-nav .top-yidong{
	padding-left: 10px;
	line-height: 35px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #b7b7b7;
}
.top-nav .top-nav-left{
	float: left;
}
.top-nav .top-nav-right{
	width: 560px;
	height: 35px;
	float: right;

}

#e{
	padding-left: 10px;
	vertical-align: middle;
}

.top-nav-right  a{
	color: #b7b7b7;
	line-height: 35px;
	font-size: 14px;
	font-family: 微软雅黑;
	padding-left: 4px;
	text-decoration: none;
	font-weight: bold;
}

.top-nav-right a:hover{
	text-decoration: none;
	color:#ece6e6;
}
.top-nav-bar{
	float: right;
}
.top-nav-bar  li{
    float: left;
   	list-style: none;
}
.top-nav-bar   img{
	margin-right:7px;
	vertical-align: middle;
}

/*logo 样式*/

.logo-nav{
	width: 1180px;
	height: 80px;
	margin: 0 auto;
}

.logo-nav img{
	margin-top: 17px;
	margin-left: 33px;
}

.nav-right-bar{
	float: right;
	margin-right: 25px;
}
.nav-right-bar li{
	float: left;
	list-style: none;
}

.nav-right-bar img{
	vertical-align: middle;
	padding-bottom: 18px;
	padding-right: 7px;
}



.nav-right-bar span{
	color:#d2d2d2;
	line-height:80px;
	font-family:微软雅黑;
	font-weight: bold;
	font-size: 14px;
}

/*  导航  */

.nav{
	width: 1180px;
	height: 40px;
	margin: 0 auto; 
}

.nav-bar{
	width: 260px;
	height: 40px;
	background: #34b3e0;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-family: 微软雅黑;
	color: #f5fafd;
	display:inline-block;
}

.navbar{
	float: right;
	margin-right: 35px;    
}

.navbar li{
	float: right;
	width: 100px;
	height: 40px;
	list-style: none;
	margin-right: 10px;
}

.navbar a{
	font-size: 18px;
	font-family: 微软雅黑;
	line-height: 40px;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 40px;
	text-align: center;
	color: #575757;
}

.navbar a:hover{
	background:#34b3e0; 
}


/* banner 样式*/

.banner-nav{
	background:url('../img/banner.jpg') center no-repeat;
	width: 100%;
	height: 440px;
}

.banner-nav-main{
	width: 1180px;
	height: 440px;
	margin: 0  auto;
}

.banner-main{
	width: 260px;
	height: 440px;
	background:#a2a6a7;
	background: url('../img/alpha.png');
	position: relative;
}

.banner-more{
	position: absolute;
	left: 260px;
	top: 0px;
	background: url('../img/alpha2.png');
	width: 920px;
	height: 440px;
	display: none;
}


.banner-more  p{
	text-align: center;
	color:#fffeff;
	line-height: 440px;
}



.banner-main  .banner-main-text  li{
	width: 260px;
	height: 86px;
	list-style: none;
}

.banner-main  .banner-main-text  a{
	font-size: 16px;
	font-family: 微软雅黑;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	line-height: 86px;
	margin-left: 15px;
}
.banner-main  hr{
	color:#878a9e;
}

.banner-main  .banner-main-text  a:hover{
	color: #34b3e0;
}



/*   main  样式  */

.main-one{
	height: 485px;
	background: #f5f5f5;
}

.main-nav{
	width: 1180px;
	height: 485px;
	margin: 0 auto;
}

.main-nav  p{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 22px;
	text-align: center;
	line-height: 112px;
	color: #575757;
}


.main-nav  .main-two{
	width: 1166px;
	height: 312px;
	margin: 0 auto;
}

.main-two  .yi{
	background:#ffffff;
	width: 221px;
	height: 312px;
	float: left;
}



.main-nav  .main-two  img{
	padding-top: 30px;
	padding-left: 66px;
}


.main-nav  .main-two  h3{
	padding-top: 15px;
    text-align: center;
	font-size: 18px;
	font-family: 微软雅黑;
	color: #575757;
}


.main-nav  .main-two  h4{
	padding-top: 15px;
    text-align: center;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #575757;
}

.main-nav  .main-two  img{
	padding-top: 35px;
    text-align: center;
}


.main-nav  .main-two  h5{
	padding-top: 16px;
    text-align: center;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #575757;
}

.main-nav  .main-two  span{
	color: #fd5a66;
}


.main-two  .er{
	background:#ffffff;
	width: 221px;
	height: 312px;
	float: left;
	margin-left: 16px;
}

.main-two  .san{
	background:#ffffff;
	width: 221px;
	height: 312px;
	float: left;
	margin-left: 15px;
}

.main-two  .si{
	background:#ffffff;
	width: 221px;
	height: 312px;
	float: left;
	margin-left: 15px;
}

.main-two  .wu{
	background:#ffffff;
	width: 221px;
	height: 312px;
	float: left;
	margin-left: 15px;
}





/*  行业资讯   */


.news{
	height: 492px;
	background:#ffffff;
}

.news-one{
	width: 1180px;
	height: 492px;
	margin: 0 auto;
}

.news-one  p{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 22px;
	text-align: center;
	line-height: 112px;
	color: #575757;
}

.news-one  .one{
	width: 280px;
	height: 343px;
	float: left;
	margin-right: 15px;
	margin-left:9px;
}


.news-one  .bei-img{
	width: 280px;
	height: 237px;
	background:url('../img/bei-img.png');
}

.news-one    strong{
	font-size: 15px;
	color: #575757;
	font-family: 微软雅黑;
	padding-top: 20px;
	text-align: center;
	display: block;
}

.news-one  img{
		margin-top: 36px;
		margin-left: 16px;
}


.news-one  a  img{
	width: 66px;
	height: 17px;
	margin-left:89px;
	display: inline-block;
}

.news-one  span{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #b0b0b0;
}

.news-one  .two{
	width: 280px;
	height: 343px;
	float: left;
	margin-right: 15px;
}
.news-one  .three{
	width: 280px;
	height: 343px;
	float: left;
	margin-right: 15px;
}

.news-one  .four{
	width: 280px;
	height: 343px;
	float: left;
	margin-right: 5px;
}



/*  公司注册流程  */


.pro{
	height: 484px;
	background: #f5f5f5;
}

.pro-main{
	width: 1180px;
	height: 484px;
	margin: 0  auto;
}

.pro-main  #p{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 22px;
	text-align: center;
	line-height: 112px;
	color: #575757;
}


.pro-main  .bei-img{
	background: url('../img/pro-one.jpg');
	width: 205px;
	height: 205px;
}

.pro-main  p{
	font-size: 18px;
	font-family:微软雅黑;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}


.pro-main  p  a{
	text-decoration: none;
	color: #b0b0b0;
}


.pro-main  p  a:hover{
	text-decoration: none;
	color: #34b3e0;
}

.pro-main  span{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 14px;
	text-align: center;
	display: block;
	color: #b0b0b0;
	margin-top: 40px;
}

.pro-main  .one{
	width: 205px;
	height: 360px;
	float: left;
	margin-right: 20px;
	margin-left: 22px;
}

.pro-main  .two{
	width: 205px;
	height: 360px;
	float: left;
	margin-right: 30px;
}

.pro-main  .three{
	width: 205px;
	height: 360px;
	float: left;
	margin-right: 30px;
}

.pro-main  .four{
	width: 205px;
	height: 360px;
	float: left;
	margin-right: 30px;
}

.pro-main  .five{
	width: 205px;
	height: 360px;
	float: left;
	margin-right: 15px;
}




/*  为什么选择我们  */

.select{
	height: 448px;
	width: 100%;
	position: relative;
}

.select-main{
	width: 1180px;
	height: 448px;
	margin: 0  auto;
	/*opacity:0.5;*/
	background: red;
	display: inline;
}

.select-main .nav{
	width:50px;
	height: 24px;
	left: 50%;
	bottom: 25px;
	margin-left: -21px;
	position: absolute;
}
.select-main-li  li{
	float: left;
	list-style: none;
	width: 18px;
	height:18px;
	border-radius: 18px;
	margin-left: 3px;
	border: 2px solid white;

}

.select-main  .nav-left{
	position: absolute;
	left: 150px;
	top:50%;
	margin-top: -50px;
	cursor: pointer;
}

.select-main  .nav-right{
	position: absolute;
	right: 150px;
	top:50%;
	margin-top: -50px;
	cursor: pointer;
}

.select-main-li  .bg{
	
}


.select .pic  li{
	width: 100%;
	height: 448px;
	display: inline;
}





/*    客户心声    */


.heart{
	height: 452px;
	background: #ffffff;
}

.heart  .heart-main{
	width: 1180px;
	height: 452px;
	margin: 0  auto;
}


.heart-main  p{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 22px;
	text-align: center;
	line-height: 112px;
	color: #575757;
}


.heart-main span{
	color: #ffffff;
	font-size: 30px;
	font-family: 微软雅黑;
	font-weight: bold;
	margin-left: 250px;
	line-height: 200px;
}

.heart-main  div{
	background: url('../img/heart.jpg');
}

.heart-main img{
	width: 116px;
	height: 34px;
	margin-left: 45%;
	margin-top: 35px;
}


.heart-main  .one{
	width: 373px;
	height: 254px;
	float: left;
	margin-left: 10px;
}

.heart-main  .two{
	width: 373px;
	height: 254px;
	float: left;
	margin-left: 21px;
}

.heart-main  .three{
	width: 373px;
	height: 254px;
	float: left;
	margin-left: 21px;
}



/*   合作伙伴   */

.huoban{
	height: 447px;
	background: #f5f5f5;
}

.huoban  .huoban-main{
	width: 1180px;
	height: 447px;
	margin: 0  auto;
}

.huoban  .huoban-main  p{
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 22px;
	text-align: center;
	line-height: 112px;
	color: #575757;
}

.huoban-main  .one{
	width: 1140px;
	height: 280px;
	margin-left: 20px;
	background: url('../img/huoban.png')  no-repeat;
}


/*  友情链接  */

.link{
	height: 86px;
	background:#f5f5f5;
}
.link-main{
	width: 1180px;
	height: 86px;
	margin: 0  auto;
}

.link-main  h3{
	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 20px;
	color: #595757;
}

.link-main  .link-list  li{
	list-style: none;
	font-size:14px;
	font-family: 微软雅黑;
	font-weight: bold;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}

.link-main  .link-list  a{
	text-decoration: none;
	color: #595757;
}


.link-main  .link-list  a:hover{
	color: #34b3e0;
}



/*  底部资质栏  */

.lanmu{
	height: 135px;
	background: #f5f5f5;
}

.lanmu-main{
	width: 1180px;
	height: 135px;
	background:  #f5f5f5;
	margin: 0  auto;
}


.lanmu-main  li{
	list-style: none;
	float: left;
	margin-top: 42px;
	margin-right: 52px;
}

.lanmu-main .list-one{
	margin-left: 132px;
}



/*  底部导航   */

.bottom{
	height: 234px;
	background: #f5f5f5;
}

.bottom  .bottom-nav{
	width: 1180px;
	height: 234px;
	margin: 0  auto;
}

.bottom .left{
	width: 465px;
	height: 234px;
	float: left;
}



.bottom  .left dt  {
	font-size: 16px;
	font-weight: bold;
	font-family: 微软雅黑;
	color:#676666;
	text-align: center;

}

.bottom  .left dd  {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}


.bottom  .left dd  a{
	text-decoration: none;
	font-family: 微软雅黑;
	color: #b0b0b0;
}

.bottom  .left dd  a:hover{
	text-decoration: none;
	color: #56b0ef;
}


.bottom  .left div{
	margin-top: 16px;
}

.bottom  .center{
	width: 212px;
	height: 234px;
	float: left;
	margin-left: 5px;
}

.bottom .center img{
	padding-top: 62px;
}


.bottom .center span{
	font-size: 14px;
	font-family: 微软雅黑;
	color: gray;
	margin-top: 10px;
	text-align: center;
}

.bottom .right{
	width: 490px;
	height: 234px;
	float: left;
	margin-left: 5px;
}

.bottom  .right  p{
	font-size: 14px;
	margin-left: 32px;
	margin-bottom: 18px;
	font-family: 微软雅黑;
	color: #575757;
}

.bottom  .right  .one{
	font-size: 15px;
	margin-top: 70px;
}


.bottom .left  dl{
	float: left;
	margin-top: 52px;
	margin-left:23px;
}

.bottom .left  .one{
	margin-right: 45px;
}

.bottom .left  .two{
	margin-right: 30px;
}

.bottom .left  .three{
	margin-right: 49px;
}


/*  版权   */


.banquan {
	height: 35px;
	background: #2e3a4b;
}

.banquan  .banquan-main{
	width: 1180px;
	height: 35px;
	margin: 0  auto;
}

.banquan  .banquan-main  p{
	font-family: 微软雅黑;
	font-size:14px;
	text-align: center;
	line-height: 35px;
	color: #f5f5f5;
}